@import url('../../GoogleFonts/Montserrat.css');

input{
   position: fixed;
   left: 50%;
   transform: translate(-105px, -25px);
   padding: 5px;
   font-size: larger;
   font-family: 'Montserrat', sans-serif;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   outline: none;
   border: 1px solid #fff;
   -webkit-transform: translate(-105px, -25px);
   -moz-transform: translate(-105px, -25px);
   -ms-transform: translate(-105px, -25px);
   -o-transform: translate(-105px, -25px);
}

.data{
   width: 100%;
   justify-content: center;
   margin:  auto;
   text-align: center;
   line-height: 50px;
}
.data p{
    font-size: 25px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
